@use './../../../styles/func.scoped.scss' as *;

.only-mobile {
    @include lg {
        display: none;
    }
}

.only-desktop {
    display: none;
    @include lg {
        display: unset;
    }
}

.email-verification {

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 15rem;
    }

    p.text-input-code-verif {
        color: #000;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 0px;
        letter-spacing: 2.1px;
        margin-bottom: 0;
    }

    p.text-verification-code-sent-to {
        color: #000;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 0px;
        /* 0% */
        letter-spacing: 2.1px;
        margin-bottom: 0;
        margin-top: .75rem;
    }

    div {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        input {
            border-radius: 6px;
            border: 1.5px solid #C4C4C4;
            width: 4rem;
            outline: 0;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 0px;
            padding: .75rem 0;
        }
    }

    p.text-wait-verify {
        color: #000;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
    }

    .inner-mobile {
        display: block;
        padding: 0;

        .mobile-title {
            color: #000;
            text-align: center;
            font-family: Cabin;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 144.2%; /* 28.84px */
            padding: 0rem;
            margin-bottom: 1rem;
            justify-content: center;
        }

        .mobile-code-sent-to {
            color: var(--Neutral-Text-primary, #474A56);
            text-align: center;
            font-family: Cabin;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
            padding: 0;
            text-align: center;
            justify-content: center;
        }

    .mobile-input {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.5rem 0;

        input {
            color: #474A56;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
            display: flex;
            width: 44.048px;
            height: 43px;
            padding: 15px;
            justify-content: space-between;
            align-items: center;
        }
    }

    .mobile-buttons {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 2rem;

        .resend {
            color: #474A56;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
            background: transparent;
            border:0;
        }

        .verify {
            display: flex;
            width: 336px;
            height: 50px;
            padding: 15px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 6px;
            background: #000;
            border: 0;
            color: #FFF;
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &:disabled {
                background: #DDDDDD;
                color: #A2A3B1;
            }
        }
    }

    }
}
