.review-section {
    margin-top: -1.5rem;
    padding-bottom: 2rem;

    .title-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2.title {
            color: #000;
            font-family: 'Cambay', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 0;
            transform: translateY(2.75px);
            /* 66.667% */
        }

        a.view-more {
            text-decoration: none;

            span {
                color: #FFAC33;
                font-family: 'Cambay', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                /* 100% */
            }
        }
    }

    .review-recap {
        padding-top: 1.25rem;
        display: flex;
        align-items: center;
        gap: 6rem;

        .stars-amount {
            color: #000;
            font-family: 'Cambay', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 133.333% */
        }

        .review {
            color: #A2A3B1;
            font-family: 'Cabin', sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            /* 160% */
        }
    }

    hr {
        border: 0px;
        outline: 0px;
        opacity: 1;
        height: 1px;
        background: #DADADA;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}