@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.navbar {
    font-family: 'Cabin';
    margin-right: 25px;
    color: white;
}

.navbarHome {
    padding-left:0px;
    padding-right:0px;
    background: none;
}

@media (max-width: 1000px) {
    .navbar {
        font-family: 'Cabin';
        margin-right: 25px;
        color: white;
    }
}