.cardSection6{
    border: none;
}
.ImgBodySection6{
    width: 390px;
    height: 580px;
    margin-left: auto;
    margin-right: 10px;
    border: none;
}

.section6card2{
    margin-right: 5rem;
    border: none;
}

.section6card2body{
    margin-top: 80px;
    margin-right: 80px;
    border: none;
}
