@use './../../../styles/func.scoped.scss' as *;

.privacy-police[data-id="sdfsdf"] {
    .hero {
        padding-top: 1rem;

        img {
            width: 100%;
            height: unset;
            object-fit: cover;
            object-position: center;
        }

        // @include lg {
        //     height: 80vh;
        // }
    }

    .body {
        padding-top: 4rem;
        padding-bottom: 4rem;

        p {
            color: #000;
            text-align: justify;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        strong {
            display: block;
            font-size: 15px;
            font-weight: 700;
        }

        ol {

            li {
                margin-bottom: .4rem;
            }
        }
    }
}
