.hero-slider-container {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;

    .hero-slider-item {
        width: 100%;
        height: 100vh;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(15vh);
            row-gap: 1rem;

            h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: #FFF;
                margin-bottom: 0;

                @media screen and (max-width: 1399px) {
                    text-align: center;
                }
            }

            button {
                border: 0px;
                outline: none;
                display: flex;
                padding: .45rem 6rem;
                justify-content: center;
                align-items: center;
                gap: 16px;
                flex-shrink: 0;
                background: rgba(255, 172, 51, 0.68);
                color: #FFF;
                font-family: 'Cambay', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.1px;
            }
        }
    }


}