@use './../../../styles/func.scoped.scss' as *;

.section-8 {
    background-size: cover;
    background-position: center;
    margin-top: 0rem;

    @include lg {
        margin-top: 2rem;
    }

    .inner-overlay {
        text-decoration: none;
        display: block;
        background: rgba(0, 0, 0, 0.33);
        padding: 2.5rem 1.5rem;
        width: 100%;

        @include lg {
            padding: 8rem 2.5rem;
            width: 35%;
        }

        .top {
            display: flex;
            align-items: flex-start;

            h2 {
                color: #FFF;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: 2.5rem;
                transform: translateY(-.45rem);
                font-size: 18px;

                @include lg {
                    font-size: 28px;
                }
            }
        }

        p {
            color: #FFF;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.8rem;
            padding-left: 34px;
            padding-right: 2.5rem;

            @include lg {
                font-size: 20px;
            }
        }
    }
}