.profile-avatar {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 1rem;
    align-items: center;
    color: #F9F9F9;
    font-family: Inter;
    gap:1rem;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    img {
        width: 80px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }
}
