@use './../../../../../styles/func.scoped.scss' as *;

.form-payment-container {
    border: 1px solid #C4C4C4;
    width: 100%;
    margin: auto;

    @include lg {
        width:70%;
    }

    .box-item {
        padding: 1.5rem 2.25rem;
    }

    .notes-and-booking {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .notes {
            flex: 1;
            display: flex;
            align-items: center;
            border-right: 1px dashed #C4C4C4;

            label {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                margin-right: 1rem;
            }

            input {
                border: 1px solid #C4C4C4;
                background: #FFF;
                width: 100%;
            }
        }

        .booking {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: .5rem;

            h3 {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 0;

                @include lg {
                    font-size: 21px;
                }
            }

            h4 {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 0;
            }

            span {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
            }
        }
    }

    .platform-voucher-and-code {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px dashed #C4C4C4;

        .platform-voucher {
            flex: 1;
            display: flex;
            align-items: center;
            gap: .75rem;
            border-right: 1px dashed #C4C4C4;

            h3 {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 0;
                transform: translateY(2px);
            }
        }

        .code {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                border: 0px;
                outline: 0px;
                text-align: right;
                opacity: 0.5;
                background: transparent;
                color: #151B4F;
                font-family: 'Cambay', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 0;
                cursor: pointer;
            }
        }
    }

    .payment-method-and-bank {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px dashed #C4C4C4;

        .payment-method {
            flex: 1;
            display: flex;
            align-items: center;
            gap: .75rem;
            border-right: 1px dashed #C4C4C4;

            h3 {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 0;
                transform: translateY(2px);
            }
        }

        .bank {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p {
                color: #000;
                font-family: 'Cambay', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                column-gap: .5rem;

                span {
                    transform: translateY(1.4px);
                }
            }
        }
    }

    .pricing-recap {
        border-top: 1px dashed #C4C4C4;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .pricing-items {
            row-gap: .85rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .pricing-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 275px;

                label {
                    color: #000;
                    font-family: 'Cambay', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;

                    &.label-total {
                        font-size: 17px;
                    }
                }

                h4 {
                    color: #000;
                    text-align: center;
                    font-family: 'Cambay', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    margin-bottom: 0;

                    &.price-total {
                        color: #FFAC33;
                        font-size: 17px;
                    }
                }
            }
        }

        button {
            margin-top: 3.15rem;
            display: flex;
            padding: 14px 60px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex-shrink: 0;
            color: #FFF;
            font-family: 'Cambay', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.1px;
            background: #151B4F;
            outline: none;
            border: 0px;
        }
    }
}

.modal-courier {
    .courier-option {
        background: #f9f9f9;
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        .title {
            color: #545454;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.56px;
        }

        .select,
        .input-text {
            flex: 1 0;
        }

        button {
            border-radius: 5px;
            border: 1px solid #c8d1e1;
            background: #111;
            color: #fff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.48px;
            padding: 0.5rem 2rem;
        }
    }

    .shipping-fee-contents,
    .voucher-contents {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow: auto;
        gap: 1rem;

        .m-0 {
            margin-top: 0;
        }

        .title-list-options {
            color: #a2a3b1;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.56px;
        }

        .shipping-fee-content {
            border-radius: 5px;
            border: 1px solid #dadada;
            border-left: 6px solid #dadada;
            background: #fff;
            padding: 1.5rem;
            cursor: pointer;
            pointer-events: all;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            &.active {
                border-left-color: #ffac33;
            }

            .top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                .name,
                .price {
                    color: #111;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.48px;
                }

                .price {
                    color: #ffac33;
                }
            }

            .bottom {
                color: #a2a3b1;
                font-family: Inter;
                font-size: 8px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.32px;
            }
        }

        .voucher-content {
            border-radius: 5px;
            border: 1px solid #dadada;
            background: #fff;
            padding: 1.5rem;
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            align-items: center;

            .left {
                display: flex;
                flex: 1 0;
                flex-direction: column;

                .name {
                    color: #111;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                }

                .code {
                    color: #a2a3b1;
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.52px;
                }

                .expiring {
                    color: #f44336;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

.modal-courier-bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;

    button {
        border-radius: 5px;
        border: 1px solid #c8d1e1;
        background: #111;
        color: #fff;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
        padding: 0.5rem 2rem;

        &:first-child {
            border-radius: 5px;
            border: 1px solid #c8d1e1;
            background: #fff;
            color: #151b4f;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.48px;
        }
    }
}
