.product-item-detail {
    display: flex;
    gap: 1.7rem;
    padding-top: 1rem;
}

hr {
    border: 0px;
    outline: 0px;
    width: 100%;
    height: 10px;
    opacity: 1;
    background: #DDDDDD;
    margin: 3.15rem 0;
}