.section9slider{
    justify-content: center;
    align-items: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 3rem;
 }
 
 .items{
     margin-right: 2%;
     margin-left: 4%;
 }