@use './../../../../../styles/func.scoped.scss' as *;

.left-filter-categories {
    border-top: 2px solid #000;
    margin: 1rem 2rem 0 2rem;
    padding-top:1rem;
    @include lg {
        margin: 0;
        padding-top: 0;
        border-top: 1px solid #C4C4C4;
    }

    .inner-left-filter-categories {
        display: flex;
        flex-direction: column;
        padding: 1.15rem 0;

        .sec-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            pointer-events: all;

            h3 {
                color: #000;
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.48px;
                margin-bottom: 0;
            }
        }

        ul {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 0;
            margin-bottom: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 300ms ease-in, padding-top 300ms ease-in;
            
            &.open {
                max-height: 100rem;
                padding-top: 1.35rem;
            }

            &.show li:nth-child(5) ~ * {
                max-height: 5rem;
                margin-top: 0;
            }

            li {
                display: flex;
                align-items: center;
                gap: 1rem;

                &:nth-child(5) ~ * {
                    max-height: 0;
                    overflow: hidden;
                    margin-top: -1rem;
                    transition: max-height 300ms ease-in, margin-top 300ms ease-in;
                }

                span {
                    color: #000;
                    font-family: 'Inter', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    transform: translateY(-0.5px);
                }
            }
        }

        button {
            margin-top: .6rem;
            display: none;
            align-items: center;
            gap: .5rem;
            justify-content: flex-end;
            text-decoration: none;
            background: transparent;
            border: 0;

            &.open {
                display: flex;
            }

            span {
                color: #151B4F;
                font-family: 'Inter', sans-serif;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.4px;
            }
        }
    }
}
