@use './../../../../../styles/func.scoped.scss' as *;

.banner-component {
    position: relative;

    .hero-slider-item {
        width: 100%;
        margin: 0 .75rem;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        height: 15vh;

        @include lg {
            height: 32.5vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    h2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 7%;
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.8px;
        font-size: 12px;

        @include lg {
            font-size: 24px;
        }
    }
}