@use './../../../styles/func.scoped.scss' as *;

.language-component {
    position: fixed;
    background: rgba(0, 0, 0, 0.50);
    top: 0;
    bottom: 0;
    z-index: 9999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .language-content {
        position: relative;
        background: #fff;
        display: flex;
        align-items: center;
        transition: all 600ms ease-in-out;
        transition-delay: 350ms;
        opacity: 0;
        flex-direction: column;
        transform: scale(0.7);
        width: calc(100%);
        border-radius: 5px; 
        padding: 3rem;
        gap:2rem;

        @include lg {
            width: unset;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }

        @include lg {
            transform: scale(1);
        }

        button.close-modal {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            background: 0;
            border: 0;
        }

        .title {
            color: #000;
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;

            @include lg {
                font-size: 36px;
            }
        }

        .languages {
            background: #fff;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            gap:1rem;

            @include lg {
              flex-direction: row;
            }

            .language {
                padding:3rem;
                background: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:2rem;
                color: #000;
                font-family: Cambay;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 100% */
                letter-spacing: 0.1px;
                border-radius: 5px;
                background: linear-gradient(0deg, rgba(226, 226, 226, 0.85) 0%, rgba(226, 226, 226, 0.85) 100%), rgba(249, 249, 249, 0.73);

                img {
                    width: 150px;
                    border: 1px solid #000;
                    aspect-ratio: 1.33;
                }

                .list ul {
                    color: #000;
                    font-family: Cambay;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin: 0.5rem 0 0 0;
                    padding: 0;
                    list-style-position: inside;
                }

                button {
                    border-radius: 4px;
                    border: 1px solid #151B4F;
                    background: #FFF;
                    color: #151B4F;
                    font-family: Cambay;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 125% */
                    letter-spacing: 0.1px;
                    padding:0.5rem 0;
                    width: 220px;

                    &.secondary {
                          border-radius: 4px;
                          background: #151B4F;
                          border: 1px solid #151B4F;
                          color: #fff;
                    }
                }
            }
        }

        .bottom {
            color: #000;
            font-family: Cambay;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            line-height: 20px;
            letter-spacing: 0.1px;

            a {
                color: #000;
            }
        }
    }
}
