.hero-wrapper {
    display: flex;
    justify-content: flex-end;

    .left {
        width: 100%;

        p {
            color: #000;
            text-align: justify;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            line-height: 23px;
            font-weight: 400;

            &:first-child {
                text-indent: 35px;
            }

            p {
                p.dropcapimg::first-letter {
                    background-image: url(https://i.stack.imgur.com/WecKn.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    float: left;
                    font-size: 6rem;
                    line-height: 0.65;
                    color: transparent;
                    margin-right: -0.15em;
                }
            }
        }
    }

    img {
        width: 58%;
    }
}