@use './../../../../styles/func.scoped.scss' as *;

.hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 3rem;
    margin-top: 2rem;

    @include lg {
        margin-top: 0;
        flex-direction: row;
    }

    .left {
        width: 100%;

        @include lg {
            width: 50%;
        }

        p {
            color: #000;
            text-align: justify;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            line-height: 23px;
            font-weight: 400;

            &:first-child {
                text-indent: 35px;
            }
        }
    }

    img {
        width: 100%;

        @include lg {
            width: 50%;
        }
    }
}
