input {
    font-family: Cabin;
    font-style: normal;
}

input::placeholder {
    color: #C8D1E1;
}

textarea {
    font-family: Cabin;
    font-style: normal;
}

textarea::placeholder {
    color: #C8D1E1;
}