.product-item {
    width: calc(calc(100% - 4rem) / 5);
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;

    /* For Collection & Designers */
    &.product-item-collective-designers-index {
        width: calc(calc(100% - 5rem) / 6) !important;
    }

    &.product-item-wishlist {
        width: calc(calc(100% - 4rem) / 5) !important;
    }

    @media screen and (max-width: 1399px) {
        width: calc(calc(100% - 3rem) / 4);
    }

    .product-image {
        position: relative;

        &:hover .product-action {
            opacity: 1;
        }

        img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center;
        }

        .product-action {
            transition: all 300ms ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            padding: 0 1.5rem;
            gap: .5rem;
            opacity: 0;

            button {
                border: 0px;
                outline: 0px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .5rem 0;
            }

            .btn-cart {
                border: 1.5px solid #151B4F;
                background: #FFF;
                color: #151B4F;
            }

            .btn-buy {
                border: 1.5px solid #151B4F;
                background: #151B4F;
                color: white;
            }
        }

        .love-wrap {
            position: absolute;
            right: .35rem;
            top: .35rem;
            cursor: pointer;
            transition: all 200ms ease;

            svg {
                position: absolute;
                right: .35rem;
                top: .35rem;
            }

            &:hover {
                .heart-red-filled {
                    visibility: visible;
                }
            }

            .heart-red-filled {
                visibility: hidden;
            }
        }
    }

    .product-body {
        flex: 1;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            color: #000;
            font-family: 'Cambay', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 0;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        .price-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: .25rem;

            h4 {
                color: #FFAC33;
                font-family: 'Cambay', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                margin-top: .4rem;
                margin-bottom: 0;

                &.blur {
                    color: transparent;
                    text-shadow: 0 0 8px #FFAC33;
                }
            }

            button {
                color: white;
                font-family: 'Cambay', sans-serif;
                background: #151B4F;
                font-size: 11px;
                border: 0px;
                outline: 0px;
                font-weight: 600;
                border-radius: 3px;
                padding: .2rem .45rem;
                transform: translateY(2px);
            }
        }

        .recap {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-top: .1rem;

            .rate {
                display: flex;
                align-items: center;
                gap: .15rem;

                span {
                    color: #000;
                    font-family: 'Cambay', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    transform: translateY(1.5px);
                }
            }

            .selled {
                color: #000;
                font-family: 'Cabin', sans-serif;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                /* 160% */
            }
        }
    }
}