@use './../../../../../styles/func.scoped.scss' as *;

.title-desc {
    padding-bottom: 2rem;

    h2 {
        color: #000;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 20px;

        @include lg {
            font-size: 30px;
        }
    }

    p {
        margin-top: 1.5rem;
        color: #545454;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        margin-top: 1rem;

        @include lg {
            font-size: 19px;
            line-height: 30px;
            margin-top: 1.5rem;
        }
    }
}