@use './../../../../../styles/func.scoped.scss' as *;

@keyframes mobileShowAnimation {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

.left-filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100rem;
    transition: transform 300ms ease-in-out;

    &::-webkit-scrollbar {
        width: 22px;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 11px 11px #C4C4C4;
        border: solid 8px transparent;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 11px 11px rgb(255, 172, 51);
        border: solid 8px transparent;
        border-radius: 4px;
    }

    &.mobile-show {
        left: 0;
        width: 100vw;
        background: rgba(226, 226, 226, 0.85);
        bottom:0;
        height: 75vh;
        height: 75dvh;
        overflow-y: auto;
        z-index: 1;
        animation: 300ms mobileShowAnimation ease-in-out;
    }
    &.mobile-hide {
        @media (max-width: 991px) {
            left: 0;
            width: 100vw;
            background: rgba(226, 226, 226, 0.85);
            bottom:0;
            height: 80vh;
            overflow-y: auto;
            z-index: 1;
            transform: translateY(100%)
        }
    }

    @include lg {
        position: sticky;
        top: 10rem;
        left: unset;
        z-index: unset;
        align-self: start;
        max-height: calc(100vh - 10rem);
        overflow: auto;
    }

    .left-filter-close {
        display: block;
        position: sticky;
        top: 0;
        height:0;
        text-align:right;

        @include lg {
            display: none;
        }

        button {
          all: unset;
          cursor: pointer;
          pointer-events: all;
          transform: translate(-1rem, 1rem);
        }
    }

    .reset {
        align-self: start;
        color: white;
        font-family: 'Cambay', sans-serif;
        background: #151B4F;
        font-size: 14px;
        border: 0px;
        outline: 0px;
        font-weight: 600;
        border-radius: 3px;
        padding: .2rem .45rem;
        margin: 0rem 2rem 0;
        transform: translateY(2px);

        @include lg {
            margin: 0;
        }
    }
}
