.event-description-section {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;

    .first-section {
        text-indent: 30px;

        p {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 0;
            margin-top: 3px;
            color: #000;
        }
    }

    .second-section {
        margin-top: 1.5rem;

        p {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 0;
            margin-top: 3px;
            color: #000;

            &:last-child {
                margin-top: 1.75rem;
            }
        }

        ul {

            li {
                margin-bottom: 4px;
            }
        }
    }

    .ticket-container {
        height: 275px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: top center;
        margin-top: 1rem;

        button {
            padding-top: .35rem;
            padding-bottom: .35rem;
            padding-left: 3.9rem;
            padding-right: 3.9rem;
            border: none;
            outline: none;
            background: #E4A951;
            box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.50);
            border-radius: 15px;
            color: #FFF;
            font-family: 'Cambay', sans-serif;
            font-weight: 700;
        }
    }

    .third-section {
        margin-top: 1.5rem;

        p {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 0;
            margin-top: 3px;
            color: #000;

            &:last-child {
                margin-top: 1.75rem;
            }
        }

        ul {

            li {
                margin-bottom: 1px;

                a {
                    text-decoration: none;
                    color: #081CC9;
                }
            }
        }
    }
}