.breadcrumb-container {
    font-family: 'Cabin', sans-serif;
    margin-top: 1rem;

    .breadcrumb-list-wrapper {
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 12.5px;
        padding-left: 0 !important;

        .breadcrumb-list-item {
            display: flex;
            align-items: center;
            white-space: nowrap;

            &:last-child {
                overflow: hidden;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            a {
                color: #FFAC33;
                font-weight: 500;
                text-decoration: none;
                font-size: 16px;
            }

            a::after {
                content: "\203A";
                color: #000;
                margin-left: 12.5px;
                font-size: 20px;
            }

            span {
                color: #000;
                font-weight: 500;
                transform: translateY(2px);
                font-size: 16px;
                z-index: -1;
            }
        }
    }
}
