
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.Section1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


.Section2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

.Section3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
  }
