.event-description-section {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;

    .first-section {
        text-indent: 30px;

        p {
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 0;
            margin-top: 3px;
            color: #000;
        }
    }

    .second-section {
        margin-top: 1.5rem;

        p {
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 0;
            margin-top: 3px;
            color: #000;

            &:last-child {
                margin-top: 1.75rem;
            }
        }

        ul {

            li {
                font-family: 'Inter', sans-serif;
                margin-bottom: 4px;
                font-size: 15px;
            }
        }
    }

    .location-box {
        margin-top: 1.25rem;

        h3 {
            color: #000;
            text-align: justify;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            margin-top: .6rem;
            display: flex;
            align-items: center;
            color: #000;
            gap: .8rem;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
        }

        .location-wrapper {
            display: flex;
            width: 100%;
            column-gap: 2.35rem;
            margin-top: 20px;

            .map-box {
                flex: 1.5;

                iframe {
                    width: 100%;
                    height: 350px;
                }
            }

            .text-location-box {
                flex: 1;

                .title-wrap {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .title-text {
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 0
                    }
                }

                .bottom-location-wrap {
                    padding-left: 20px;

                    .title {
                        font-family: 'Inter', sans-serif;
                        font-size: 13px;
                        font-weight: 600;
                        margin-bottom: 0;
                        margin-top: 2.25px;
                    }

                    .address {
                        font-family: 'Inter', sans-serif !important;
                        font-size: 13px !important;
                        font-weight: 300 !important;
                        margin-bottom: 0 !important;
                        margin-top: 5px !important;
                    }

                    a {
                        width: fit-content;
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        border-radius: 4px;
                        background: #FFAC33;
                        padding: .45rem 1rem;
                        margin-top: 1.75rem;
                        color: #000;
                        font-family: 'Cambay', sans-serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}