@use './../../../styles/func.scoped.scss' as *;

.shopping-checkout-wrapper {
    margin-bottom: 3rem;

    @include lg {
        margin-top: 3rem;
    }

    .only-mobile {
        display: unset;
        @include lg {
            display: none;
        }
    }

    .only-desktop {
        display: none;
        @include lg {
            display: unset;
        }
    }

    h2.title-checkout {
        color: #000;
        font-family: Cambay;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */

        @include lg {
            color: #000;
            font-family: "Cambay", sans-serif;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    .box-shipping-address {
        display: none;
        margin-top: 1.75rem;

        @include lg {
            display: block;
        }

        .action-box-shipping-address {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text-action-shipping-address {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.5rem;

                h4.text-select-shipping {
                    color: #000;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    transform: translateY(2px);
                    /* 114.286% */
                }

                a {
                    text-decoration: none;
                }

                h4.manage-address {
                    color: #ffac33;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 114.286% */

                    svg {
                        transform: translateY(-2px) translateX(3px);
                    }
                }
            }

            .arrow-wrap {
                display: flex;
                align-items: center;
                gap: 0.75rem;

                button {
                    padding: 0px;
                    width: fit-content;
                    border: 0px;
                    outline: 0px;
                    background: transparent;
                }
            }
        }

        .address-wrapper {
            margin-top: 0.35rem;

            .address-item {
                padding: 1rem;
                width: calc(33% - 6px);
                border: 1px solid #c4c4c4;
                background: #fff;
                margin-right: 12px;
                cursor: pointer;
                pointer-events: all;
                box-sizing: border-box;

                &.active {
                    border: 3px solid #151b4f;
                }

                h5.address-title {
                    color: #545454;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 114.286% */
                }

                .name-phone-number {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    h5.address-name {
                        color: #545454;
                        font-family: "Cambay", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        /* 114.286% */
                    }

                    h5.address-phone {
                        color: #545454;
                        font-family: "Cambay", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        /* 114.286% */
                    }
                }

                p {
                    color: #545454;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    /* 114.286% */
                }
            }
        }
    }

    .box-shipping-address-mobile {
        border-top: 3px solid #DADADA;
        margin: 0 -1rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        color: #000;
        font-family: Cambay;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */

        @include lg {
            display: none;
        }

        .tag {
            font-size: 14px;
        }

        button {
            margin-left: auto;
            align-self: center;
            background: transparent;
            border: 0;
            padding: 0;
            color: #FFAC33;
        }
    }

    .box-shipping-address-mobile-border {
        border-bottom: 3px solid #DADADA;
        margin: 0 -1rem;
        height: 6px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAADCAYAAADY8vzDAAAALUlEQVQoz2OMS376n4HGYNFcaUYGBgaGHytW0NwujogIRgYGBgYmhmEKhq3HAM9bCAaAvvvDAAAAAElFTkSuQmCC');
        background-position: center;

        @include lg {
            display: none;
        }
    }

    hr {
        margin: 0;
        padding: 0;
        opacity: 1;
        border: 0px;
        height: 1px;
        background: #c4c4c4;
        margin-top: 2rem;
        margin-bottom: 1.25rem;
        display: none;

        @include lg {
            display: block;
        }
    }

    .box-product-order {
        .head-row {
            display: none;
            align-items: center;

            @include lg {
                display: flex;
            }

            .product-order-head {
                flex: 3;

                h4 {
                    margin-bottom: 0;
                    color: #000;
                    font-family: "Cambay", sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 80% */
                }
            }

            .basc-order-head {
                flex: 1;
                text-align: center;

                span {
                    color: #828181;
                    text-align: center;
                    font-family: "Cambay", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    /* 100% */
                }
            }
        }

        .row-data {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #c4c4c4;
            padding-bottom: 1.25rem;
            padding-top: 1.25rem;

            &:last-child {
                border-bottom: 0px;
            }

            .product-order-data {
                flex: 3;
                display: flex;
                align-items: start;
                gap: 0.8rem;

                @include lg {
                    align-items: center;
                }

                img {
                    width: 80px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: center;
                }

                .product-item-data-text {
                    h4 {
                        color: #000;
                        font-family: "Cambay", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        /* 114.286% */
                    }

                    span {
                        color: #c4c4c4;
                        font-family: "Cambay", sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        /* 145.455% */
                        display: none;

                        @include lg {
                            display: inline;
                        }
                    }

                    .mobile-price-qty {
                        display: flex;
                        flex-direction: row;
                        gap: 0.5rem;
                        color: #FFAC33;
                        font-family: Cambay;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px; /* 133.333% */

                        @include lg {
                            display: none;
                        }

                        .qty {
                            color: #828181;
                            font-family: Cambay;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px; /* 160% */
                        }
                    }
                }
            }

            .basic-row-data {
                flex: 1;
                text-align: center;
                display: none;

                @include lg {
                    display: block;
                }

                h4 {
                    color: #000;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 114.286% */
                }

                &.basic-row-data__price {
                    h4 {
                        color: #ffac33;
                    }
                }
            }
        }
    }

    .shippingoption-mobile {
        border-top: 3px solid #DADADA;
        margin: 0 -1rem;
        padding-top: 2px;

        @include lg {
            display: none;
        }

        .inner {
            background: #E1E1E8;
            padding: 1rem;
            color: #081CC9;
            font-family: Cambay;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
            border: 1px solid #081CC9;
            border-width: 1px 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .detail {
                border-top: 1px solid #081CC9;
                padding-top: 0.5rem;
                color: #000;
                font-family: Cambay;
                font-size: 11px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 145.455% */
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;

                .info {
                    flex: 1 0;
                }

                button {
                    background: transparent;
                    border: 0;
                    padding: 0;
                }
            }
        }
    }

    .note-mobile {
        margin: 0 -1rem;
        display: flex;
        flex-direction: column;
        gap: 1px;
        background: #DADADA;
        color: #000;
        font-family: Cambay;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */

        @include lg {
            display: none;
        }

        > div {
            padding: 0.75rem 1rem;
            background: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                border: 0;
                background: transparent;
                flex: 1 0;
            }

            .price {
                color: #FFAC33;
                font-family: Cambay;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 114.286% */
            }
        }
    }

    .voucher-mobile {
        margin: 0 -1rem;
        display: flex;
        flex-direction: column;
        gap: 1px;
        background: #DADADA;
        color: #000;
        font-family: Cambay;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 133.333% */
        border-top: 3px solid #DADADA;

        @include lg {
            display: none;
        }

        > div {
            padding: 0.75rem 1rem;
            background: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .title {
                display: flex;
                flex-direction: row;
                gap: 0.75rem;
                align-items: center;
            }

            .entercode {
                background: transparent;
                border: 0;
                padding: 0;
                color: #A2A3B1;
                font-family: Cambay;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 133.333% */
            }

            .methodpayment {
                background: transparent;
                border: 0;
                padding: 0;
                color: #000;
                font-family: Cambay;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 133.333% */
            }
        }
    }

    .bills-mobile {
        margin: 0 -1rem;
        padding: 1rem;
        border-top: 3px solid #DADADA;
        color: #000;
        font-family: Cambay;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        @include lg {
            display: none;
        }

        > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &.bills {
                margin-bottom: 0.5rem;
                color: #000;
                font-family: Cambay;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 114.286% */

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 0.75rem;
                    align-items: center;
                }
            }

            &.total {
                margin-top: 0.5rem;
                color: #000;
                font-family: Cambay;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 114.286% */

                .price {
                    color: #FFAC33
                }
            }
        }
    }

    .operational-mobile {
        color: #F24E1E;
        font-family: Cambay;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0 -1rem;
        padding: 1rem;
        border-top: 3px solid #DADADA;

        @include lg {
            display: none;
        }

        div:first-child {
            font-weight: 700;
            white-space: nowrap;
        }
    }

    .box-bottom-checkout-mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #C4C4C4;
        z-index: 1;
        flex-direction: column;

        @include lg {
            display: none;
        }

        .body-price {
            display: flex;
            flex-direction: row;

            .top-desc {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2rem;

                span:first-child {
                    color: #A2A3B1;
                    font-family: Cambay;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */
                }

                span:last-child {
                    color: #FFAC33;
                    font-family: Cambay;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px; /* 114.286% */
                }
            }

            button {
                background: #151B4F;
                border:0;
                padding: 1.75rem 2.5rem;
                box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
                color: #FFF;
                text-align: justify;
                font-family: Cambay;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 114.286% */
            }
        }
    }

    .box-order-transaction {
        border: 1px solid #c4c4c4;
        background: #fff;
        display: none;

        @include lg {
            display: block;
        }

        .recap-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dotted #c4c4c4;

            .left {
                flex: 1;
                border-right: 1px dotted #c4c4c4;

                .inner {
                    display: flex;
                    align-items: center;
                    padding: 1.25rem 2.25rem;
                    gap: 1rem;

                    h4 {
                        color: #000;
                        font-family: "Cambay", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        margin-bottom: 0;
                        /* 114.286% */
                    }

                    input {
                        outline: 0px;
                        border: 1px solid #c4c4c4;
                        background: #fff;
                    }
                }
            }

            .right {
                flex: 1.5;

                .inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 1.25rem;

                    div {
                        flex: 1;
                        padding: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;

                        &:first-child {
                            h4 {
                                align-self: flex-start;
                            }
                        }

                        &:last-child {
                            h4 {
                                align-self: flex-end;
                            }
                        }

                        h4 {
                            color: #000;
                            font-family: "Cambay", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            margin-bottom: 0;
                            /* 114.286% */

                            &.courier {
                                align-self: flex-start;
                            }
                        }

                        .change-shipping {
                            background: #151b4f;
                            border: 0;
                            display: inline-block;
                            padding: 0.5rem 0.5rem;
                            color: #fff;
                            font-family: "Cambay", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            margin-bottom: 0;
                            /* 114.286% */
                        }

                        span {
                            color: #000;
                            font-family: "Cambay", sans-serif;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                            margin-top: 0.45rem;
                            align-self: flex-start;

                            /* 133.333% */
                        }
                    }
                }
            }
        }

        .basic-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #c4c4c4;
            padding: 1.25rem 2.25rem;

            &.basic-row__payment {
                .right {
                    h4 {
                        font-weight: 700;
                    }
                }
            }

            .left {
                display: flex;
                align-items: center;
                gap: 0.75rem;

                h4 {
                    color: #000;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    margin-bottom: 0;
                    transform: translateY(2px);
                    /* 114.286% */
                }
            }

            .right {
                h4 {
                    color: #151b4f;
                    text-align: center;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin-bottom: 0;
                    /* 114.286% */
                }
            }
        }

        .price-row {
            padding: 1.75rem 2.25rem;
            width: 40%;
            margin-left: auto;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.8rem;

                &.total {
                    h4 {
                        &:first-child {
                            font-size: 16px;
                        }

                        &:last-child {
                            color: #ffac33;
                            font-size: 20px;
                        }
                    }
                }

                h4 {
                    margin-bottom: 0;
                    color: #000;
                    font-family: "Cambay", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    /* 114.286% */
                }
            }
        }

        .btn-row {
            display: flex;
            justify-content: flex-end;
            padding: 0.25rem 2.25rem 3rem;
            gap: 10rem;

            .operational {
                color: #F24E1E;
                font-family: Cambay;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 114.286% */
                display: flex;
                flex-direction: row;
                gap: 1rem;
                flex: 1 0;

                div:first-child {
                    font-weight: 700;
                    white-space: nowrap;
                }
            }

            button {
                background: #151b4f;
                color: #fff;
                font-family: "Cambay", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                /* 125% */
                letter-spacing: 0.1px;
                padding: 0.9rem 5rem;
                border: 0px;
                outline: 0px;
            }
        }
    }
}

.modal-courier {
    .courier-option {
        background: #f9f9f9;
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        .title {
            color: #545454;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.56px;
        }

        .select,
        .input-text {
            flex: 1 0;
        }

        button {
            border-radius: 5px;
            border: 1px solid #c8d1e1;
            background: #111;
            color: #fff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.48px;
            padding: 0.5rem 2rem;
        }
    }

    .shipping-fee-contents,
    .voucher-contents {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow: auto;
        gap: 1rem;

        .m-0 {
            margin-top: 0;
        }

        .title-list-options {
            color: #a2a3b1;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.56px;
        }

        .shipping-fee-content {
            border-radius: 5px;
            border: 1px solid #dadada;
            border-left: 6px solid #dadada;
            background: #fff;
            padding: 1.5rem;
            cursor: pointer;
            pointer-events: all;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            &.active {
                border-left-color: #ffac33;
            }

            .top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                .name,
                .price {
                    color: #111;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.48px;
                }

                .price {
                    color: #ffac33;
                }
            }

            .bottom {
                color: #a2a3b1;
                font-family: Inter;
                font-size: 8px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.32px;
            }
        }

        .voucher-content {
            border-radius: 5px;
            border: 1px solid #dadada;
            background: #fff;
            padding: 1.5rem;
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            align-items: center;

            .left {
                display: flex;
                flex: 1 0;
                flex-direction: column;

                .name {
                    color: #111;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.56px;
                }

                .code {
                    color: #a2a3b1;
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.52px;
                }

                .expiring {
                    color: #f44336;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

.modal-courier-bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;

    button {
        border-radius: 5px;
        border: 1px solid #c8d1e1;
        background: #111;
        color: #fff;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
        padding: 0.5rem 2rem;

        &:first-child {
            border-radius: 5px;
            border: 1px solid #c8d1e1;
            background: #fff;
            color: #151b4f;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.48px;
        }
    }
}

.modal-addresses {
    .manageaddress {
        border-radius: 5px;
        border: 1px solid #c8d1e1;
        background: #111;
        color: #fff;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.48px;
        padding: 0.5rem 2rem;
        text-decoration: none;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 0.25rem;
    }

    .content-addresses {
        max-height: 40vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .address-item {
            border-radius: 5px;
            border: 1px solid #dadada;
            background: #fff;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            color: #000;
            font-family: Cambay;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */

            .detail {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                .tag {
                    font-size: 14px;
                    font-weight: 700;
                }

                .name-phone-number {
                    font-weight: 700;
                }
            }
        }
    }
}

.address-label {
    color: #000;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.address-mark-as {
    border-radius: 3px;
    border: 1px solid #FFAC33;
    background: #FFF;
    color: #FFAC33;
    margin-left: 0.5rem;
    padding: 0 1rem;
    color: #FFAC33;
    text-align: center;
    font-family: Cambay;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 200% */

    &.active {
      color: #666;
      background: #C4C4C4;
      border-color: #C4C4C4;
    }
}

.cancel-button {
    padding:0.25rem 2rem;
    border: 1px solid #151B4F;
    background: #FFF;
    color: #151B4F;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.1px;
}

.send-button {
    padding:0.25rem 2rem;
    border: 1px solid #151B4F;
    background: #151B4F;
    color: #fff;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.1px;
}

.form-group__phone-number {
    display: flex;
    align-items: center;
    position: relative;

    select {
        position: absolute;
        width: 4rem;
        font-family: 'Cabin', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: .5rem 1rem;
        z-index: 1;
    }

    input {
        padding-left: 5rem;
    }
}
