.card-ticket-purchase-item {
    border-radius: 15px;
    border: 1px solid #cec9c1;
    background: #fff;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1.2rem 2rem;

    .card-title {
        color: #000;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .card-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(221, 221, 221, 0.3);
        padding: 0.52rem 1.2rem;
        margin-top: 0.9rem;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.4rem;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    text-decoration: none;

                    &:hover span {
                        color: #ffac33;
                        font-weight: 600;
                    }
                }

                span {
                    color: #a2a3b1;
                    font-family: "Inter", sans-serif;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    b {
                        font-weight: 700;
                    }
                }
            }
        }

        div {
            h2 {
                color: #e4a951;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .card-action {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        .detail-btn {
            border-radius: 4px;
            background: rgba(221, 221, 221, 0.3);
            color: #081cc9;
            font-family: "Cambay", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding: 0.5rem 1.2rem;
            text-decoration: none;
        }

        .select-btn {
            border-radius: 4px;
            background: #ffac33;
            color: #fff;
            font-family: "Cambay", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding: 0.5rem 2.35rem;
            text-decoration: none;
            border: 0px;
            outline: none;
        }
    }
}

.modal-ticket[data-id="ufsdfnsdfn"] {
    .top {
        h3.title {
            color: #000;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .body {
        background: rgba(221, 221, 221, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .left {
            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: #a2a3b1;
                    font-family: "Inter", sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .right {
            h3.price {
                color: #e4a951;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .left {
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            .icon-left {
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h5 {
                    color: #000;
                    font-family: "Inter", sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 0;
                }

                span {
                    color: #a2a3b1;
                    font-family: "Inter", sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .icon-right {
            }
        }

        .right {
            button {
                border-radius: 4px;
                background: #151b4f;
                color: #fff;
                font-family: "Cambay", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                /* 125% */
                letter-spacing: 0.1px;
                outline: 0;
                border: none;
                padding: 0.4rem 2rem;
            }
        }

        .popup-amount-ticket {
            position: absolute;
            top: 4rem;
            background: white;
            border-radius: 12px;
            overflow: hidden;
            display: none;

            &.active {
                display: block;
            }

            .popup-amount-ticket__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: white;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                column-gap: 2.5rem;

                .popup-amount-ticket__top__left {
                    p {
                        color: #a2a3b1;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 0;
                        white-space: nowrap;
                    }

                    h3 {
                        color: #000;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        white-space: nowrap;
                        margin-top: 0.4rem;
                    }
                }

                .popup-amount-ticket__top__right {
                    p {
                        color: #000;
                        font-family: Cambay;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px; /* 114.286% */
                        text-align: center;
                        margin-bottom: 0;
                    }

                    .stock-increase-decrease {
                        display: flex;
                        align-items: stretch;
                        gap: 0.5rem;
                        margin-top: 0.2rem;

                        input {
                            color: #000;
                            font-family: "Cambay", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            text-align: center;
                            padding-right: 0;
                            padding-left: 0;
                            outline: 0px;
                            width: 100px;
                        }

                        button {
                            padding: 0 0.5rem;
                            border-radius: 5px;
                            border: 1px solid #151b4f;
                            background: #151b4f;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:nth-child(1) {
                                background: #c4c4c4;
                                border: 1px solid #c4c4c4;
                            }
                        }
                    }
                }
            }

            .popup-amount-ticket__bottom {
                border-radius: 12px;
                background: #e4e4ea;
                display: flex;
                justify-content: space-between;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                align-items: center;

                .popup-amount-ticket__bottom__left {
                    p {
                        color: #545454;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 0;
                        margin-bottom: 0;
                    }

                    h3 {
                        color: #000;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-top: 0.4rem;
                    }
                }

                .popup-amount-ticket__bottom__right {
                    button {
                        color: #081cc9;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        background: transparent;
                        border: 0px;
                        outline: none;
                    }
                }
            }
        }
    }
}
