@use './../../../styles/func.scoped.scss' as *;

.shopping-cart-container {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .only-desktop {
        display: none;
        @include lg {
            display: unset;
        }
    }

    .only-mobile {
        display: unset;
        @include lg {
            display: none;
        }
    }

    .title-page {
        color: #000;
        font-family: Cambay;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */

        @include lg {
            color: #000;
            font-family: 'Cambay', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 50% */
        }
    }

    .desc-page {
        color: #828181;
        font-family: Cambay;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 160% */

        @include lg {
            color: #828181;
            font-family: 'Cambay', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            margin-top: 1.75rem;
            /* 80% */
        }
    }

    .carts-head {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.35rem;
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: .65rem;

        div {
            h4 {
                color: #828181;
                text-align: center;
                font-family: 'Cambay', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 0;
                /* 100% */
            }
        }

        .checkbox-head {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap:1rem;
            color: #000;
            align-items: center;
            font-family: Cambay;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            
            @include lg {
                display: unset;
                flex: .1;
            }
        }

        .item-head {
            flex: 3;

            h4 {
                padding-left: 5rem;
                text-align: left;
            }
        }

        .item-price-head {
            flex: 1;
        }

        .qty-head {
            flex: 1;
        }

        .price-head {
            flex: 1;
        }

        .delete-head {
            flex: .2;
        }
    }

    .carts-wrapper {
        .cart-item {
            display: flex;
            align-items: center;
            gap: 1.35rem;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            border-bottom: 1px solid #C4C4C4;

            .checkbox-col {
                flex: .1;
            }

            .product-col {
                flex: 3;

                display: flex;
                align-items: start;
                gap: 1.35rem;

                @include lg {
                    align-items: center;
                }

                img {
                    width: 77px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    object-position: center;
                }

                .product-desc {
                    .product-name {
                        color: #000;
                        font-family: 'Cambay', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        margin-bottom: 0;
                        /* 114.286% */
                    }

                    .product-weight {
                        color: #C4C4C4;
                        font-family: 'Cambay', sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        margin-bottom: 0;
                        /* 145.455% */
                    }

                    .price-col h4 {
                        text-align: left;
                        margin: 0.5rem 0;
                    }

                    .qty-col {
                        div {
                            justify-content: start;
                        }

                        .delete {
                            margin-left: 1rem;
                            background: #F44336;
                            border-color: #F44336;
                        }
                    }
                }
            }

            .item-price-col {
                flex: 1;

                h4.item-price {
                    color: #000;
                    font-family: 'Cambay', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    margin-bottom: 0;
                    text-align: center;
                    /* 114.286% */
                }
            }

            .qty-col {
                flex: 1;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 35px;
                        height: 30px;
                        border: 0px;
                        outline: 0px;
                        border-radius: 5px;
                        border: 1px solid #151B4F;
                        background: #151B4F;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:first-child {
                            border: 1px solid #C4C4C4;
                            background: #C4C4C4;
                            color: #545454;
                            transform: translateX(8px);
                        }

                        &:last-child {
                            border: 1px solid #151B4F;
                            background: #151B4F;
                            color: #FFF;
                            transform: translateX(-8px);
                        }
                    }

                    input {
                        color: #000;
                        font-family: 'Cambay', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                        width: 50px;
                        height: 30px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        /* 114.286% */
                        border: 1px solid #C4C4C4;
                    }
                }
            }

            .price-col {
                flex: 1;

                .price {
                    color: #FFAC33;
                    font-family: 'Cambay', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    text-align: center;
                    margin-bottom: 0;
                    /* 114.286% */
                }
            }

            .delete-col {
                flex: .1;

                button {
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0px;
                    outline: 0px;
                }
            }
        }
    }

    .box-bottom-checkout {
        display: none;
        border: 1px solid #C4C4C4;
        background: #FFF;
        margin-top: 2rem;

        @include lg {
            display: block;
        }

        .top-voucher {
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px dotted #C4C4C4;

            .inner {
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text {
                    display: flex;
                    align-items: center;
                    gap: .6rem;

                    h5 {
                        color: #000;
                        font-family: 'Cambay', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        margin-bottom: 0;
                        transform: translateY(3px);
                        white-space: nowrap;
                    }
                }

                input {
                    border: 0px;
                    outline: 0px;
                    font-family: 'Cambay', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    width: 100%;
                    text-align: right;
                    transform: translateY(3px);
                    /* 114.286% */

                    &::placeholder {
                        color: #151B4F;
                    }
                }
            }
        }

        .body-price {
            padding: 1rem;

            .top-desc {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left-select {
                    display: flex;
                    align-items: center;
                    gap: .75rem;

                    span {
                        color: #000;
                        font-family: 'Cambay', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        transform: translateY(3px);
                        /* 114.286% */
                    }
                }

                .right-price {
                    display: flex;
                    align-items: center;
                    width: 40%;
                    justify-content: space-between;

                    .left-select-text {
                        h4 {
                            color: #000;
                            font-family: 'Cambay', sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            margin-bottom: 0;
                        }

                        span {
                            color: #000;
                            font-family: 'Cambay', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                            /* 114.286% */
                        }
                    }

                    .right-price-text {
                        h4 {
                            color: #FFAC33;
                            font-family: 'Cambay', sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            /* 80% */
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .bottom-action {
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;

                button {
                    padding: .65rem 3.25rem;
                    border: 0px;
                    outline: 0px;
                    background: #151B4F;
                    color: #FFF;
                    font-family: 'Cambay', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    /* 125% */
                    letter-spacing: 0.1px;
                }
            }
        }
    }

    .box-bottom-checkout-mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #C4C4C4;
        z-index: 1;
        flex-direction: column;

        @include lg {
            display: none;
        }

        .top-voucher {
            flex: 1;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 1rem 2rem;
            gap:1rem;

            .inner {
                display: flex;
                justify-content: center;
                align-items: center;
                gap:0.5rem;
                color: #000;
                font-family: Cambay;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 133.333% */
            }

            input {
                flex: 1;
                width: 100%;
                border:0;
                color: #A2A3B1;
                font-family: Cambay;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 133.333% */
                text-align: right;
            }
        }

        .body-price {
            display: flex;
            flex-direction: row;
            border-top: 1px solid #C4C4C4;

            .top-desc {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2rem;

                span:first-child {
                    color: #A2A3B1;
                    font-family: Cambay;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */
                }

                span:last-child {
                    color: #FFAC33;
                    font-family: Cambay;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px; /* 114.286% */
                }
            }

            button {
                background: #151B4F;
                border:0;
                padding: 1.75rem 2.5rem;
                box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
                color: #FFF;
                text-align: justify;
                font-family: Cambay;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px; /* 114.286% */
            }
        }
    }

    .delete-mobile {
        display: block;
        margin-top: 1rem;

        @include lg {
            display: none;
        }
    }

    .delete {
        color: #E82529;
        font-family: Cambay;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        border:0;
        background: transparent;
        padding: 0;

        &:disabled {
            opacity: 0.4;
        }
    }
}
