.floating-cart-content {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: .5rem;

        h3.title-float-cart {
            color: #000;
            font-family: 'Cambay', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 0;
            /* 114.286% */
        }

        a.float-cart-link {
            color: #151B4F;
            font-family: 'Cambay', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            display: flex;
            gap: .5rem;
            text-decoration: none;
            /* 133.333% */
        }
    }

    .body {
        .carts {

            .cart-item {
                display: flex;
                border-bottom: 1px solid #C4C4C4;
                padding-top: 1rem;
                padding-bottom: 1rem;
                gap: .75rem;

                .left {
                    img {
                        width: 40px;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    h4.cart-product-title {
                        color: #000;
                        font-family: 'Cambay', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        margin-bottom: 0;
                        /* 133.333% */
                    }

                    h4.cart-product-price {
                        color: #FFAC33;
                        font-family: 'Cambay', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        margin-bottom: 0;
                        /* 133.333% */
                    }

                    span.cart-weight {
                        color: #C4C4C4;
                        font-family: 'Cambay', sans-serif;
                        font-size: 8px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        /* 200% */
                    }
                }
            }
        }
    }
}