@use './../../../../../styles/func.scoped.scss' as *;

.hero {
    height: 170px;
    background-position-x: 50%;
    background-position-y: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg {
        height: 400px;
    }

    h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
